# Source audio : "rtlsdr" ou "kiwisdr"
SOURCE=rtlsdr

# RTL-SDR (si SOURCE=rtlsdr)
RTLSDR_DEVICE=0
RTLSDR_GAIN=40
RTLSDR_PPM=0

# KiwiSDR (si SOURCE=kiwisdr)
KIWISDR_HOST=sdr.example.com
KIWISDR_PORT=8073
KIWISDR_PASSWORD=

# Fréquence en Hz
FREQUENCY=27265000
SAMPLE_RATE=12000

# Web
WEB_PORT=8080
